@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
.glow{
    animation: glow 2s infinite alternate;
}
@keyframes glow {
      from {
        text-shadow: 0 0 10px #ff6b6b;
      }
      to {
        text-shadow: 0 0 20px #ff6b6b, 0 0 30px #ffa07a;
      }
    }

.confetti {
      position: absolute;
      top: 0;
      width: 10px;
      height: 10px;
      background-color: #ffd166;
      border-radius: 50%;
      animation: fall 5s infinite linear;
    }

    @keyframes fall {
      0% {
        transform: translateY(0px) rotate(0deg);
        opacity: 1;
      }
      100% {
        transform: translateY(90vh) rotate(360deg);
        opacity: 0;
      }
    }